i.github::after {
    display: inline-block;
    content: " ";
    width: 0.5em;
    height: 0.5em;
    background-image: url("img/github.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-inline: 0.1em;
    font-size: 2em;
}